# IDE/ editor
.idea/
*.swp
.DS_Store
.vscode/

# Virutal machines/ virutal environments
.vagrant/
venv/

# Input and output
/output
data/

# Go stuff published under my name (BC of symlinks)
Go/dlchan

# JavaScript
node_modules/

# Python
__pycahce__/
*.pyc

# C
*.out
