#IDE/ editor
.idea/
*.swp
.DS_Store
.vscode/

# Virutal machines/ virutal environments
.vagrant/
venv/

# input and output
/output
data/

#Go stuff published under my name (BC of symlinks)
Go/dlchan

#dependencies
node_modules/
